@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("../../fonts/Inter-Regular.woff2");
}
@font-face {
    font-family: Ubuntu;
    font-weight: 400;
    src: url("../../fonts/Ubuntu-Regular.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 400;
    src: url("../../fonts/Mulish-Regular.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 500;
    src: url("../../fonts/Mulish-Medium.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 600;
    src: url("../../fonts/Mulish-SemiBold.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 700;
    src: url("../../fonts/Mulish-Bold.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 800;
    src: url("../../fonts/Mulish-ExtraBold.woff2");
}
@font-face {
    font-family: Mulish;
    font-weight: 900;
    src: url("../../fonts/Mulish-Black.woff2");
}
